@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background: url(http://www.srune.com/media/uploads/18/5634be14e0366.jpg);
    background-size: cover;
}

.site-title-container {
    width: 700px;
    margin: 200px auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
}

.site-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    font-size: 100px;
    margin-bottom: 20px;
}